{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Поступление зарубеж</title>
  <meta content="width=device-width, initial-scale=0.8, maximum-scale =1" name="viewport">
  <meta content="Поступление зарубеж Оксфорд экзамен топ" name="keywords">
  <meta content="Готовим к поступлению в топ-10 зарубежных ВУЗов" name="description">

  <!-- Favicons -->
  <link href="{% static  'img/favicon.png' %}" rel="icon">
  <link href="{% static  'img/mmmf-touch-icon.png' %}" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static  'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static  'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static  'lib/animate/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static  'css/style.css' %}" rel="stylesheet">

  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '566691700907329');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=566691700907329&ev=PageVie.."
/></noscript>

<!-- End Facebook Pixel Code -->
  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

 {% include local_template %}
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>EdEra</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static  'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static  'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static  'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static  'lib/easing/easing.min.js' %}"></script>
  <script src="{% static  'lib/wow/wow.min.js' %}"></script>
  <script src="{% static  'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static  'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static  'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static  'lib/superfish/superfish.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static  'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static  'js/main.js' %}"></script>

</body>
</html>
