<form method="POST" id="ffilter">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            {% for key in interests %}
            <div class="col-xs-4 mx-1 my-2">
                <strong class="mx-2">{{key.name}}</strong>
                <br>

                <div class="dropdown bootstrap-select">
                    <select name="interest" class="selectpicker" multiple>
                        {% for interest in key.options %}
                        <option value="{{interest.note_id}}">{{interest.name}}</option>
                        {% endfor %}
                    </select>
                 </div>

            </div>
            {% endfor %}

        </div>

    <button type="submit" class="btn btn-lg btn-success" name="filter" value="1">
        {% if btn_interest%} {{btn_interest}} {% else %} Найти {% endif %}</button>
</div>
</form>