{% extends "lms/starter.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container">
    <h1>Профиль {% if moderator %}<span class="text-danger">[Модерация]</span> {% endif%}</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
            {{form.photo}}
            </div>


            <div class="form-group">
            <label for="phone">Телефон</label>
            <input id="phone" name="phone" class="form-control" value="{{form.phone.value}}">
            </div>

            <div class="form-group">
            <label for="name">Имя</label>
            <input id="name" name="name" class="form-control" value="{{form.name.value}}">
            </div>

            <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" class="form-control" value="{{email}}" readonly>
            </div>

            <button type="submit" class="btn btn-lg btn-success">Сохранить</button>
            </form>

    {% if id %}
    <a href="{% url 'lms:teacher_desc' id %}">О себе (для учителя)</a>
    <br>
        <a href="{% url 'lms:teacher_time' id%}">Свободное время</a>
    {% else %}
        <a href="{% url 'lms:teacher_desc' %}">О себе (для учителя)</a>
    <br>
        <a href="{% url 'lms:teacher_time' %}">Свободное время</a>
    {% endif %}
    {% if moderator %}
    <form method="post">
        {% csrf_token %}
    <button type="submit" class="btn btn-warning" name="change_status">Поменять статус (учитель/ученик)</button>
        </form>
    {% endif %}
    </div>
{% endblock %}
