{% extends "lms/starter.html" %}

{% block title %}Профиль{% endblock %}
{% block content %}

{% include 'lms/interest_form.html' %}

    <div class = "container">
        <h1>Учитель</h1>

        <h2 id="teacher_name"></h2>
        <div id="teacher_info">

        </div>
     <img id="teacher_photo" src="" width="300px;">
        <input type="hidden" id="teacher_id">
        <p>
            <button class="btn btn-success" name="like" value="1" onclick="like(1);">Like</button>
            <button class="btn btn-warning" name="like" value="-1" onclick="like(-1);">Dislike</button>
            <button class ="btn btn-info" name="next" value="0" onclick="like(0);">Next</button>
        </p>
    </div>



<script>
    var token = $('input[name=csrfmiddlewaretoken]').val();

    function show_teacher(teacher){
        $("#teacher_name").html(teacher.name);
        $("#teacher_info").empty();
        for(i=0;i<teacher.info.length;i++) {
            var info = teacher.info[i]
            var el = "<p> <strong>"+info.name+":</strong> "+info.text+"</p>"
            $("#teacher_info").append(el);
        }
        $("#teacher_id").val(teacher.user_id);
        $("#teacher_photo").prop("src", teacher.photo);
    }

    function like(islike){
        var teacher_id = $("#teacher_id").val();
        opts = {"teacher_id":teacher_id, "like":islike};
        opts.csrfmiddlewaretoken = token;
        console.dir(opts);
        $.post("#", opts,
                    function(resp){
                        console.log("new-teacher");
                        console.dir(resp);
                        if(resp.error){
                            show_teacher({"name":resp.error, "id":"0", "info":{}})
                        } else{
                            show_teacher(resp);
                        }
                    }
                );
    }


    window.onload = function(){
        {% autoescape off %}
        show_teacher({{teacher}});
        {% endautoescape %}
    }
</script>
{% endblock %}}